@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

* {
  font-family: 'Sawarabi Gothic';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.conteiner-counter {
    /* background-color: #FDFDFD; */
      background-color: #FDFDFD;
    }

#missionChoose,
#adpComunity {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #637C95;
}

#titleChose {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #151515;

}

#titleConnect {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: #151515;

}

#textAdoptsChoose,
#textAdoptsConnect {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #6D6D6D;
}

#missionChoose {
  margin-top: 20px;
}

#textAdoptsChoose {
  margin-top: 60px;
}

#adpComunity,
img.foto-counter {
  margin-top: 80px;
}

.number-counter {
  color: #304057;
  font-size: 40px;
}

@media (max-width: 990px) {

  img.foto-counter {
    margin-top:40px;
  }
  #textAdoptsChoose {
    margin-top: 10px;
  }

  #missionChoose,
  #adpComunity {
    font-size: 14px;
    line-height: 15px;
  }

  #textAdoptsChoose,
  #textAdoptsConnect {
    font-size: 16px;
    line-height: 19px;
  }
  #titleChose, #titleConnect {
    font-size: 22px;
    line-height: 32px;
  }
}