@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    font-family: 'Sawarabi Gothic', sans-serif;
    
}
.background{
    background: linear-gradient(180deg, rgba(196, 222, 255, 0.33) 0%, rgba(216, 216, 216, 0) 54.69%, rgba(190, 220, 255, 0.215644) 100%);
}
.link_acesso{
    color: #304057;
}
.patinha{
    width: 35px;
}
.alinhamento2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.texto_corpo{
    text-align: justify;
}
.btn-color{
    color: #304057;
}
.link{
    text-decoration: none;
}
.imagens_footer{
    width: 50px;
}
.alinhamento{
    display: flex;
    flex-direction: row;
    
    
}
.lupa{
    width: 25px;
}
.img_dogs{
    width: 298px;
}
.img_dogs1{
    width: 367px;
}
.img_dogs2{
    width: 281.09px;
}
.img_dogs3{
    width: 300.56px;
}
.tipografia{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}
.espacamento{
    padding-left: 130px;
    display: flex;
    flex-direction: row;
}
@media (max-width: 575.98px) { 
    .patinha{
        display: none;
    }
    .texto_corpo{
        width: 100%;
        padding-left: 100px;
    }
    .titulo{
        padding-left: 60px;
    }
   
 }
